//------------------BOOTSTRAP-------------------//

@import "../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";


//------------CUSTOM---------------//

body{
    height: 100vh;
    width: 100%;
}

.navbar{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 2;
}
#nav-content{
    text-align: center;
    align-items: center;
}
#navbarNav{
    text-align: center;
    align-items: center !important;
    display: flex;
    justify-content: space-evenly !important;
    position: relative;
    width: 100%;
    height: 100%;
}
.nav-link{
    transition-duration: 0.4s;
    border-bottom: 0px solid transparent;
    padding-bottom: 0;
}
.nav-link:hover{
    border-bottom: 1px solid black;
}


.page{
    width: 100%;
    height: 100vh;
}
#site-background-intro{
    // background-color: $black;
    background-color: transparent;
    width: 100%;
    color: white;
    #intro{
        background-color: rgba(39, 35, 46, 0.719);
        height: 100vh;
        align-items: center;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid white;

        p{
            width: 75%;
        }
        #arrow-down{
            position: absolute;
            bottom: 10px;
            transition-duration: 0.5s;
        }
        #arrow-down:hover{
            transform: translateY(8px)
        }
    }
}

#dev-page{
    background: linear-gradient(rgba(0,0,0,0), rgb(36, 36, 36));
    width: 100%;
    height: 100vh;
    #dev-info{
        padding-top: 5%;
        color: white;
        text-align: center;
        h1{
            margin-bottom: 2rem;
        }
    }
}

#concl{
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;

    h1{
        margin-bottom: 2rem;
    }
}

.card{
    margin-bottom: 1.5rem;
    color: white;
    text-align: left;
}
.card-body{
    border: none;
    .card-title{
        position: relative;
        
        display: inline-block;
        margin: none;
    }
    .card-date{
        text-align: right !important;
    }    
}


#particles-js {
    position: absolute;
    display: block;
    background-color: black;
    height: 200vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
