//------------------BOOTSTRAP-------------------//

@import "../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";


//------------CUSTOM---------------//
html{
    margin: none;
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height: 100%;
}

.background{
    position: absolute;
    background-color: black;
    z-index: -5;
    overflow: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.link{
    color: white;
    transition-duration: 0.5s;
    :hover{
        color: rgb(230, 230, 230);
    }
}

.navbar{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 2;
}
#nav-content{
    text-align: center;
    align-items: center;
}
#navbarNav{
    text-align: center;
    align-items: center !important;
    display: flex;
    justify-content: space-evenly !important;
    position: relative;
    width: 100%;
    height: 100%;
}
.nav-link{
    transition-duration: 0.4s;
    border-bottom: 0px solid transparent;
    padding-bottom: 0;
}
.nav-link:hover{
    border-bottom: 1px solid black;
}


.page{
    width: 100%;
    height: 100vh;
}
#site-background-intro{
    // background-color: $black;
    background-color: transparent;
    width: 100%;
    color: white;
    #intro{
        background-color: rgba(39, 35, 46, 0.719);
        height: 100vh;
        position: relative;
        align-items: center;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid white;

        p{
            width: 75%;
        }
        #arrow-down{
            position: absolute;
            margin-bottom: 10px;
            transition-duration: 0.5s;
            bottom: 0;
        }
        #arrow-down:hover{
            transform: translateY(8px)
        }
        #desc{
            margin-bottom: 0.5rem;
            width: 40%;
            color: white;
            font-size: 15px;
        }
        #icons{
            margin-bottom: 1rem;
            width: 10%;
            height: 25px;
            .bi{
                color: rgb(207, 207, 207);
                display: inline-block;
                margin: none;
                position: relative;
                transition-duration: 0.5s;
            }
            .bi:hover{
                color: white;
            }
        }
    }
}

#dev-page{
    background: linear-gradient(rgba(0,0,0,0), rgb(36, 36, 36));
    width: 100%;
    margin-bottom: none;    
    padding-bottom: 5rem;
    #dev-info{
        padding-top: 5%;
        color: white;
        text-align: center;
        h1{
            margin-bottom: 2rem;
        }
    }
}

#concl{
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;

    h1{
        margin-bottom: 2rem;
    }
    #skilltitle{
        margin-bottom: 1rem;
    }
    h2{
        margin-bottom: 1rem;
    }
    .imgList{
        height: 150px;
        width: 100%;
        margin-bottom: 2rem;
        background-color: rgb(255, 255, 255);
        padding-top: 25px;
    }
    .imgContain{
        align-items: center !important;
    }

    .col-md-2{
        height: 100%;
        text-align: center;      
        img{
            height: 100px;
            width: auto;
        }  
    }

    .mb-1{
        padding-bottom: 16px;
    }
    .down-arrow{
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        background-color: white;
    }
}

.card{
    margin-bottom: 1.5rem;
    color: white;
    text-align: left;
}
.card-body{
    border: none;
    .card-title{
        position: relative;
        
        display: inline-block;
        margin: none;
    }
    .card-date{
        text-align: right !important;
    }    
}


#particles-js {
    position: absolute;
    display: block;
    background-color: black;
    height: 200vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
